<div>
  <%= @tweet.content %>
</div>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <button type="submit" value="submit">Delete Tweet</button>
</form>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
