<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <nav>
      <% if logged_in? %>
        <button type="submit" name="submit"><a href="/logout">Log Out</a></button>
      <% end %>
    </nav>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <%= yield %>
    </div>
  </body>
</html>
